page-about {
    .headericon {
        margin-right: 2%;
    }
    .headericon img{
        width:100%;
    }
    .grid{
        width:105%;
        margin-left:-2%;
    }
    .headerTitle{
        text-align: left;
        margin-left: 4%;
        font-size: 1.2em;
        font-weight: 600;
        color: #212121;
    }

    .headerTitle.two{
        text-align: left;
        margin-left: 2.5rem;
        color: #fff;
        margin-bottom: -10px;
        font-size: 1.4em;
        font-weight: 400;
    }

    .headerTitle.three{
        text-align: left;
        margin-left: 2.5rem;
        color: #fff;
        margin-bottom: -10px;
        font-size: 1.4em;
        font-weight: 400;
    }

    .headerTitle.four{
        text-align: left;
        margin-left: 2.5rem;
        color: #fff;
        margin-bottom: -10px;
        font-size: 1.4em;
        font-weight: 400;
    }
    .about{
        margin-top: -8px;
        margin: 0px;
        margin-left: 0%;
        box-shadow: none;
        width: 100%;     
    }
    .about.one{
         background-color: #4F4E72;
         margin-top:1px;
    }

    .about.two{
        background-color: #BA5A93;
        margin-top:1px;

    }
    .about.three{
         background-color: #C4C461;
         margin-top:1px;
    }
    .about.four{
         background-color: #5A6062;
         margin-top:1px;
    }
    .card-ios p{
        color: #fff;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .aboutimg{
      margin-left: 0rem;
      width: 100%;
      padding-bottom: 4rem;
      box-shadow: none;
      background: none;
    }
    .aboutimg img{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
}
