<!--
  Generated template for the AlcoholPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Alcohol</ion-title>
    <ion-icon class="headericon" float-right role="img"><img src="assets/icon/nav-logo.png"  /></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content padding>
   <ion-card class="headerimg">
     <img src='assets/imgs/alcohol_1.png' float-right >
     </ion-card>
  <!-- ACCORDION -->
  <ion-list class="accordion-list">
    <!--First Level-->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>

      <button ion-item (click)="toggleSelect(i)" detail-none [ngClass]="{'section-active' : item.open, 'section': !item.open}">
        <!--<ion-icon item-left name = "arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name = "arrow-down" *ngIf="item.open"></ion-icon>-->
        <h1>{{item.name}}</h1>  
      </button>


      <ion-list *ngIf="item.children && item.open" no-lines>
        <!-- Second Level -->

        <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
          <!--Toggle Button-->
          <button ion-item (click)="toggleItem(i, j)" detail-none class="child-item" *ngIf="child.children">
        <h1 class = "test">{{child.name}}</h1>
      </button>

          <ion-item *ngIf="!child.children" detail-none class="child-item" text-wrap>
            <div class = "headtext" [attr.id]="'headtext_'+j">{{child.name}}</div>
            <div  class = "info">
              <p [attr.id]="'info_'+j" class="infoPara" >{{child.information1}}</p>
              <p class="infoPara" >{{child.information2}}</p>
              <p class="infoPara" >{{child.information3}}</p>
              <p class="infoPara" >{{child.information4}}</p>
              <p class="infoPara" >{{child.information5}}</p>
              <p class="infoPara" >{{child.information6}}</p>
              <p class="infoPara" >{{child.information7}}</p>
              <p class="infoPara" >{{child.information8}}</p>
              <p class="infoPara" >{{child.information9}}</p>
              <p class="infoPara" >{{child.information10}}</p>
              <p class="infoPara" >{{child.information11}}</p>
            </div>
          </ion-item>
        </ion-list-header>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>
