page-home {
    .headericon {
        margin-right: 2%;
    }
    .headericon img{
        width:100%;
    }
    .grid{
        width: 110%;
        margin-left: -2%;
    }
    .card-header h1{
        text-align: center;
        color: #fff;
        padding-top: 6%;
        font-size: 2.8rem;
    }
    .home{
        height: 10rem;
    }
   .home h4{
        color: #fff;
        text-align: center;
    }
    .home.one{
        background-color: #BA5A93;
        margin-bottom: 0px;
        margin: 0;
        margin-top: 5px;
    }


    .home.two{
        background-color:#C4C461;
        width: 48%;
        height: auto;
        margin-bottom: 1px;
        margin-right: 1px;
        margin-top: 1px;
    }

    .home.two h1{
        white-space: normal;
        font-size: 2.4rem;
        padding-right: 10px;
        line-height: 1.4;
    }

    .home.two h4{
        margin-top:-1rem;
    }
    .home.three{
        background-color: #4f4e72;
        width: 48%;
        height: auto;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .home.three h1{
        white-space: normal;
        font-size: 2.4rem;
        padding-right: 10px;
        line-height: 1.4;
    }
    .home.three h4{
        margin-top:-1rem;
    }
    .home.four{
        background-color: #929292;

    }
    .home.four p{
        color: #fff;
        padding-top: 1rem;
    }
    .home.five{
        background-color:#4F4E72;
        height:auto;
        margin-top: 1px;
    }
    .item{
        background:none;
        border:none;
        margin-top: -2rem;
    }
    ion-icon{
        padding-right:1rem;
    }
    .label{
        color: #fff;
        font-size: 1.4rem !important;
        font-family: lato;
    }
    .fixedLabel{
        padding-top: 2rem;
    }
    .card-ios + ion-card{
        margin-top: -3px;
        margin: 0px;
        border-radius: 0px;
        background: none;
        box-shadow: none;
    }
}
