page-information {
    .headericon {
        margin-right: 2%;
    }
    .headericon img{
        width:100%;
    }
    .grid{
        width: 115%;
        margin-top: -2%;
        margin-left: -5%;
    }
    .infoContainer{
        padding: 1px;
        background: none;
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        display: flex;
        margin-top: 1px;
    }
    .toolbar-title h1{
        padding-top:1rem;
        
    }
    .toolbar-title h1{
        color:#fff;
        padding:1.65rem;
        font-size:2rem;
        
    }

    .infoContainer.info1{
        background-color:#BA5A93;
        
    }
    .infoContainer.info2{
        background-color:#cc62a1;
        margin-top: 1px;
    }
    .infoContainer.info3{
        background-color:#D070A9;
        margin-top: 1px;
    }
    .infoContainer.info4{
        background-color:#D57EB2;
        margin-top: 1px;
    }
    .infoContainer.info5{
        background-color:#D98CBA;
        margin-top: 1px;
    }
    .infoContainer.info6{
        background-color:#8F8EA5;
        margin-top: 1px;
    }
    .infoContainer.info7{
        background-color:#7F7E98;
        margin-top: 1px;
    }
    .infoContainer.info8{
        background-color:#7F7E98;
        margin-top: 1px;
    }
    .infoContainer.info9{
        background-color:#5F5E7E;
        margin-top: 1px;
    }
    .infoContainer.info10{
        background-color:#4F4E72;
        margin-top: 1px;
    }
    .card-ios + ion-card{
        margin-top: -3px;
        margin: 0px;
        border-radius: 0px;
        background: none;
        box-shadow: none;
    }

    [padding] h1:first-child {
  margin-top: 0rem;
}
}
