page-anxiety {
    .headericon {
        margin-right: 2%;
    }
    .headericon img{
        width:100%;
    }
    .headerimg{
        margin-left: 0%;
        width: 100%;
        margin-top: -3%;
        border-bottom: 5px solid #cc62a1;
        box-shadow: none;
        background: none;
        height:40%
    }
    .headerimg img{
        width:60%;
        margin-top:2%;
    }
   .accordion-list {
        background: color($colors, light);
        margin-top: -2%;
    }
    .section {
        background: #cc62a1;
        color: #000;
        margin-bottom: 4px;
        padding: 8%;
    }
    .section-active {
        background: #cc62a1;
        color: #fff;
    }
    .section.child {
        width:90%;
    }
 
    .child {
        background: #cc62a1;
        color: #fff;
        margin-bottom: 4px;
    }
    .child-item {
        background: #cc62a1;
        padding: 10px;
    }
    .label {
        margin: 0px;
        color: #fff;
    }
    .label h1{
        font-size: 2.5rem;
        padding-top: 3rem;
    }
    .label h2{
        padding-top: 1rem;
        color: #fff;
        margin-bottom: 13px;
        margin-left: 1rem;
        font-size: 1.17rem;
        font-weight: 400;
        border-bottom: 2px solid #fff;
        font-family: "lato", sans-serif;
    }
    .label p{
        text-transform: none;
        color:#fff;
        font-weight:400;
        margin-left: 1rem;
        font-family: "lato", sans-serif;
    }
    .list {
        margin-bottom: 4px;
    }
    img{
        width:160px;
    }
}


