page-anxiety {
    .headericon {
        margin-right: 2%;
    }
    .headericon img{
        width:100%;
    }
    .headerimg{
        margin-left: 0%;
        padding: 0;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: none;
    }
    .headerimg img{
        width: 50%;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
   .accordion-list {
        background: color($colors, light);
        margin-top: -2%;
    }
    .section {
        background: #cc62a1;
        color: #000;
        margin-bottom: 1px;
        padding: 8%;
    }
    .section-active {
        background: #cc62a1;
        color: #fff;
    }
    .section.child {
        width:90%;
    }
 
    .child {
        background: #cc62a1;
        color: #fff;
        margin-bottom: 4px;
    }
    .child-item {
        background: #cc62a1;
        padding: 10px;
    }
    .label {
        margin: 0px;
        color: #fff;
    }
    .label h1{
        font-size: 2.4rem;
        padding-top: 3rem;
    }
    .label h2{
        padding-top: 3rem;
        color: #fff;
        margin-bottom: 13px;
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $font-family-base;
        width:55%;
    }
    .label p{
        text-transform: none;
        color:#fff;
        font-weight:400;
        margin-left: -6%;
        font-family: "lato", sans-serif;
    }
    .list {
        margin-bottom: 4px;
    }
    img{
        width:160px;
    }
    .headtext{
        color: #fff;
        margin-left: 4px;
        border-bottom: 1px dashed #fff;
        font-sizE: 14px;
        font-family: sans-serif;
        font-family: "Lato Regular", sans-serif;
        height: 30px;
        margin-top: 2em;
    }
    .info{
        margin-left: 7%;
    }

    .infoPara{
        font-family: "Roboto Light", sans-serif !important;
        margin-bottom: 10px !important;
        margin-top: 1em;
    }

}


